<!DOCTYPE html>
<html class="no-js">
    {{ partial "head" . }}
    <body>
    <div class="container main-container-bgc">
        <div id="main-header">
            {{ partial "header" . }} 
            {{ partial "skills" . }}
            {{ partial "languages" . }}
        </div>
        
        <div id="main-content">
            <main role="main">
                {{ partial "carriere" . }}
                {{ partial "scolarite" . }}
            </main>
            {{ partial "footer" . }}
        </div> 
    </div>
    {{ partial "js-scripts" . }}
    </body>
</html>
