{{ define "content" }}
            <section>
                <header class="title-bg block">
                    <h1 class="title is-4 is-capitalized is-uppercase">{{ .Section }}</h1>
                </header>
                <div class="glassy">
                    {{ range .Paginator.Pages}}
                    <article class="block">
                        <header>
                            <h2 class="subtitle"><a href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a></h2>
                        </header>
                        <div>
                            {{ .Summary }}
                        </div>
                        <p><a href="{{ .Params.externalLink | default .RelPermalink }}">En savoir plus</a></p>
                    </article>
                    {{ end }}
                </div>
            </section>
{{ end }}