{{ with .Site.GetPage "section" "carriere" }}
    <section class="block">
        <header class="block">
            <h1 class="subtitle is-3 has-text-primary"><i class="fas fa-globe"></i> Expérience professionnelle</h1>
        </header>
        <div class="jobs-education">
            {{ range .Pages }}
                <article class="block pb-4">
                    <header class="mb-0">
                        <h2 class="subtitle is-size-4 has-text-primary has-text-weight-bold  mb-0">{{ .Title }}</h2>
                    </header>
                    <div>
                        <ul class="details mt-2">
                            <li><i class="far fa-building"></i> {{ .Params.company }}</li>
                            <li><i class="far fa-calendar-alt"></i> {{ .Params.date_from }} - {{ .Params.date_to }}</li>
                            <li><i class="fas fa-map-marker-alt"></i> {{ .Params.location }}</li>
                        </ul>
                        <div>{{ .Content }}</div>
                    </div>
                </article>
            {{ end }}
        </div>
    </section>
    
{{ end }}