<footer class="is-flex is-flex-direction-column is-align-items-center" role="contentinfo">
     <div class="social-icon-list is-flex is-flex-direction-row"><i class="fab fa-facebook"></i> <i class="fab fa-twitter"></i> <i class="fab fa-linkedin-in"></i> <i class="fab fa-instagram"></i> <i class="fab fa-youtube"></i></div>
     <a href="https://webensol.site">Powered by Web en Sol</a>
     <span class="is-size-7 has-text-centered" style="max-width: 30rem">Toutes les informations du Curriculum Vitae sont fictives et non que valeur d'exemple. Toute concordance avec une entité réelle serait fortuite.</span>
</footer>