<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    {{ if .Site.IsServer }}
    {{ $cssOpts := (dict "targetPath" "css/styles.css" "enableSourceMap" true ) }}
    {{ $styles := resources.Get "bulma/bulma.sass" | toCSS $cssOpts }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
    {{ else }}
    {{ $cssOpts := (dict "targetPath" "css/styles.css" ) }}
    {{ $styles := resources.Get "bulma/bulma.sass" | toCSS $cssOpts | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"
        crossorigin="anonymous" media="screen" />
    {{ end }}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    {{ if (or (eq .Site.Home.Params.fonts "googleFont10") (eq .Site.Home.Params.fonts "googleFont11")) }}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto&display=swap" rel="stylesheet">
    {{ else if (or (eq .Site.Home.Params.fonts "googleFont20") (eq .Site.Home.Params.fonts "googleFont21")) }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    {{ else if (eq .Site.Home.Params.fonts "googleFont30") }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet">
    {{ else if (eq .Site.Home.Params.fonts "googleFont40") }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Raleway&display=swap" rel="stylesheet">
    {{ else if (eq .Site.Home.Params.fonts "googleFont50") }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto&display=swap" rel="stylesheet">
    {{ else if (eq .Site.Home.Params.fonts "googleFont60") }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Italianno&family=Open+Sans&display=swap" rel="stylesheet">
    {{ else if (eq .Site.Home.Params.fonts "googleFont70") }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ruthie&display=swap" rel="stylesheet">
    {{ else if (eq .Site.Home.Params.fonts "googleFont80") }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&family=Walter+Turncoat&display=swap" rel="stylesheet">
    {{ end }}

    {{ partial "favicon.html" }}
    {{ if .IsHome }}
        {{/* partial "netlify-widget.html" . */}}
    {{ end }}
    {{/*partial "site-schema.html" .*/}}
    {{ $colorsSchema := .Site.Home.Params.colors }}
    {{ if ( or ( ne $colorsSchema.mainBgcColor "") ( ne $colorsSchema.highlightColor "") ( ne $colorsSchema.subtitleColor "") ( ne $colorsSchema.linkColor "") ( ne $colorsSchema.linkHoverColor "") (ne .Site.Home.Params.fonts "")) }}
        <style>
            {{ if $colorsSchema.mainBgcColor  }}
                body,
                #main-header,
                #main-content {
                    background-color: {{ $colorsSchema.mainBgcColor }};
                }
            {{ end }}
            {{ if $colorsSchema.highlightColor  }}
                .title {
                    color: {{ $colorsSchema.highlightColor }};
                }
                .gt-manual-nav a.is-active {
                    border-left-color: {{ $colorsSchema.highlightColor }};
                }
                .gt-list-layout article:first-child {
                        border-color: {{ $colorsSchema.highlightColor }};
                    }
            {{ end }}
            {{ if $colorsSchema.subtitleColor  }}
                .subtitle {
                    color: {{ $colorsSchema.subtitleColor }};
                }
                .gt-manual-nav a:hover,
                .gt-manual-nav a:focus {
                    border-left-color: {{ $colorsSchema.subtitleColor }};
                }
            {{ end }}
            {{ if .Site.Home.Params.fonts }}
                {{ $fontParam := .Site.Home.Params.fonts }}
                {{ if eq $fontParam "safeFont1" }}
                    {{ $Font := .Site.Data.fonts.safeFont1 }}
                    h1, h2, h3, h4, h5, h6 {
                        font-family: {{ $Font.titles | safeCSS }};
                    }
                    body, button, input, optgroup, select, textarea {
                        font-family: {{ $Font.textes | safeCSS }};
                    }
                {{ else if eq $fontParam "safeFont2" }}
                    {{ $Font := .Site.Data.fonts.safeFont2 }}
                    h1, h2, h3, h4, h5, h6 {
                        font-family: {{ $Font.titles | safeCSS }};
                    }
                    body, button, input, optgroup, select, textarea {
                        font-family: {{ $Font.textes | safeCSS }};
                    }
                {{ else if eq $fontParam "googleFont10" }}
                    {{ $Font := .Site.Data.fonts.googleFont10 }}
                    h1, h2, h3, h4, h5, h6 {
                        font-family: {{ $Font.titles | safeCSS }};
                    }
                    body, button, input, optgroup, select, textarea {
                        font-family: {{ $Font.textes | safeCSS }};
                    }
                {{ else if eq $fontParam "googleFont11" }}
                    {{ $Font := .Site.Data.fonts.googleFont11 }}
                    h1, h2, h3, h4, h5, h6 {
                        font-family: {{ $Font.titles | safeCSS }};
                    }
                    body, button, input, optgroup, select, textarea {
                        font-family: {{ $Font.textes | safeCSS }};
                    }
                {{ else if eq $fontParam "googleFont20" }}
                    {{ $Font := .Site.Data.fonts.googleFont20 }}
                    h1, h2, h3, h4, h5, h6 {
                        font-family: {{ $Font.titles | safeCSS }};
                    }
                    body, button, input, optgroup, select, textarea {
                        font-family: {{ $Font.textes | safeCSS }};
                    }
                {{ else if eq $fontParam "googleFont21" }}
                    {{ $Font := .Site.Data.fonts.googleFont21 }}
                    h1, h2, h3, h4, h5, h6 {
                        font-family: {{ $Font.titles | safeCSS }};
                    }
                    body, button, input, optgroup, select, textarea {
                        font-family: {{ $Font.textes | safeCSS }};
                    }
                {{ else if eq $fontParam "googleFont30" }}
                    {{ $Font := .Site.Data.fonts.googleFont30 }}
                    h1, h2, h3, h4, h5, h6 {
                        font-family: {{ $Font.titles | safeCSS }};
                    }
                    body, button, input, optgroup, select, textarea {
                        font-family: {{ $Font.textes | safeCSS }};
                    }
                {{ else if eq $fontParam "googleFont40" }}
                    {{ $Font := .Site.Data.fonts.googleFont40 }}
                    h1, h2, h3, h4, h5, h6 {
                        font-family: {{ $Font.titles | safeCSS }};
                    }
                    body, button, input, optgroup, select, textarea {
                        font-family: {{ $Font.textes | safeCSS }};
                    }
                {{ else if eq $fontParam "googleFont50" }}
                    {{ $Font := .Site.Data.fonts.googleFont50 }}
                    h1, h2, h3, h4, h5, h6 {
                        font-family: {{ $Font.titles | safeCSS }};
                    }
                    body, button, input, optgroup, select, textarea {
                        font-family: {{ $Font.textes | safeCSS }};
                    }
                {{ else if eq $fontParam "googleFont60" }}
                    {{ $Font := .Site.Data.fonts.googleFont60 }}
                    h1, h2, h3, h4, h5, h6 {
                        font-family: {{ $Font.titles | safeCSS }};
                        font-weight: normal !important;
                    }
                    body, button, input, optgroup, select, textarea {
                        font-family: {{ $Font.textes | safeCSS }};
                    }
                {{ else if eq $fontParam "googleFont70" }}
                    {{ $Font := .Site.Data.fonts.googleFont70 }}
                    h1, h2, h3, h4, h5, h6 {
                        font-family: {{ $Font.titles | safeCSS }};
                        font-weight: normal !important;
                    }
                    body, button, input, optgroup, select, textarea {
                        font-family: {{ $Font.textes | safeCSS }};
                    }
                {{ else if eq $fontParam "googleFont80" }}
                    {{ $Font := .Site.Data.fonts.googleFont80 }}
                    h1, h2, h3, h4, h5, h6 {
                        font-family: {{ $Font.titles | safeCSS }};
                        font-weight: normal !important;
                    }
                    body, button, input, optgroup, select, textarea {
                        font-family: {{ $Font.textes | safeCSS }};
                    }
                {{ end }}
            {{ end }}
            {{ if $colorsSchema.linkColor  }}
                a {
                    color: {{ $colorsSchema.linkColor }};
                }
            {{ end }}
            {{ if $colorsSchema.linkHoverColor  }}
                a:hover,
                a:focus {
                    color: {{ $colorsSchema.linkHoverColor }};
                }
            {{ end }}
        </style>
        {{ end }}
</head>