
    {{ "<!-- Main Script -->" | safeHTML }}
    {{ if .Site.IsServer }}

        {{ if .IsHome }}
        {{ "<!-- Netlify redirect to admin  -->" | safeHTML }}
        {{/* partial "netlify-redirect" */}}
        {{ end }}
        {{ "<!-- Validator min js  -->" | safeHTML }}
        {{ $validator := resources.Get "js/validator.js" }}
        <script src="{{ $validator.Permalink }}"></script>
        {{ $script := resources.Get "js/app.js" }}
        <script src="{{ $script.Permalink }}"></script>

    {{ else }}

        {{ if .IsHome }}
        {{ "<!-- Netlify redirect to admin  -->" | safeHTML }}
        {{/* partial "netlify-redirect" */}}
        {{ end }}
        {{ "<!-- Validator min js  -->" | safeHTML }}
        {{ $validator := resources.Get "js/validator.js" }}
        <script src="{{ $validator.Permalink }}"></script>
        {{ $script := resources.Get "js/app.js"| minify}}
        <script src="{{ $script.Permalink }}"></script>

    {{ end }}
