{{ with .Site.GetPage "section" "languages" }}
    <article class="block">
        <header>
            <h2 class="subtitle is-5 is-uppercase has-text-weight-bold has-text-primary">Langues</h2>
        </header>
        <div class="skills">
            {{ range .Pages }}
                <div class="mb-2">
                    <p class="subtitle is-size-6 mb-0">{{ .Title }}</p>
                    <progress class="progress is-primary" value="{{ .Params.level }}" max="100">{{ .Params.level }}%</progress>
                    
                </div>
            {{ end }}
        </div>
    </article>
    
{{ end }}