
        <div class="gt-commercial-nav">
            {{ $currentPage := . }}
            <ul class="footer-nav">
            {{ range .Site.Menus.commercial }}
            {{ $text := print .Name | safeHTML }}
                <li>
                {{ $sec := replace .URL "/" "" }}
                <a {{ if or (eq $currentPage.RelPermalink .URL) (eq $currentPage.Section $sec) }}class="is-active" {{ end}} href="{{ .URL }}">
                        {{ $text }}
                    </a>
                    </li>
            {{ end }}
            </ul>
        </div>