<nav id="admin-nav" class="nav" role="navigation" aria-label="Menu administratif">
    {{ $currentPage := . }}
    <ul class="footer-nav">
        {{ range .Site.Menus.admin }}
        {{ $text := print .Name | safeHTML }}
            <li>
                <a {{ if eq $currentPage.RelPermalink .URL }}class="is-active"{{ end }} href="{{ .URL }}">
                    {{ $text }}
                </a>
            </li>
        {{ end }}
    </ul>
</nav>
