<nav role="navigation" aria-label="Menu principal">
        <div class="gt-manual-nav">
            {{ $currentPage := . }}
            
            {{ range .Site.Menus.manual }}
            {{ $text := print .Name | safeHTML }}
                {{ $sec := replace .URL "/" "" }}
                <a {{ if or (eq $currentPage.RelPermalink .URL) (eq $currentPage.Section $sec) }}class="is-active" {{ end}} href="{{ .URL }}">
                        {{ if .Pre }}<i class="fas {{ .Pre }}"></i>{{ else }}{{ $text }}{{ end }}</a>
            {{ end }}
        </div>
</nav>