<div class="columns mt-2">
    <div class="column">
        <h3 class="subtitle">
            Informations
        </h3>
        <blockquote>
            <p>Dans le cadre de l'utilisation du site GalitesWebDesign, vous pouvez avoir besoin de renseigner vos noms,
                mails pour que nous puissions répondre à vos messages.<br />Vous recevrez automatiquement un mail de
                copie, équipé, en bas, d'un lien permettant de supprimer de la base de donnée du site, la totalité de
                votre mail.</p>
            <p>
                Pour ce qui est de la participation au blog, <br />....
            </p>
            <footer>Gilles Testard</footer>
        </blockquote>
    </div>
    <div class="column">

        <h3 class="subtitle">
            Contexte
        </h3>
        <p>
            À compter du 25 mai 2018, date de l’entrée en vigueur du règlement général sur la protection des données,
            toutes les entreprises opérant dans l’UE, indépendamment de leur lieu d’établissement, devront suivre un
            ensemble de règles relatives à la protection des données.
        </p>
        <p>
            Le renforcement des règles relatives à la protection des données signifie que
        </p>
        <ul>
            <li>les citoyens auront un meilleur contrôle de leurs données à caractère personnel</li>
            <li>les entreprises bénéficieront de conditions de concurrence équitables</li>
        </ul>
        <p>
            Source : <a
                href="https://ec.europa.eu/commission/priorities/justice-and-fundamental-rights/data-protection/2018-reform-eu-data-protection-rules_fr"
                title="en savoir plus sur le RGPD" target="_blank">Réforme des règles de l’UE en matière de protection
                des données 2018</a>
        </p>
    </div>
</div>