{{ $galites := .Site.Data.galites }}
<div itemprop="articleSection" itemscope itemtype="https://schema.org/Organization">
    Entreprise : <span itemprop="brand">{{ $galites.title }}</span>
    <div itemprop="member" itemscope itemtype="https://schema.org/OrganizationRole">
        <span itemprop="member" itemscope itemtype="https://schema.org/Person">
            Responsable : <br><i class="fas fa-male"></i> <span itemprop="name">{{ $galites.manager.name }}</span> <br>
            <i class="fas fa-laptop-code"></i> <span itemprop="roleName">{{ $galites.manager.job }}</span>
        </span>
    </div>
    <i class="fas fa-mobile-alt"></i> <span itemprop="telephone">{{ $galites.address.mobile }}</span> <br>
    <i class="far fa-envelope-open"></i> <span itemprop="email">
        {{ $galites.address.email_alias }}<i class="fas fa-at"></i>{{ $galites.address.email_domain }}
    </span>
    <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
        <i class="far fa-address-card"></i> <span itemprop="streetAddress">{{ $galites.address.address }}</span>
        <span itemprop="postalCode">{{ $galites.address.zip }}</span>
        <span itemprop="addressLocality">{{ $galites.address.town }} France</span>
    </div>
</div> 