body 
    background-color: $arpl-color
    min-height: 100vh
#main-header
    @extend .dark-bg
    padding-bottom: 1rem
    .title 
        color: white

.details
    > li 
        > svg 
            @extend .mr-2
            & + span
                display: inline-block 
                &::first-letter 
                    text-transform: uppercase 
        &:not(:first-child)
            @extend .mt-2      
#main-header 
    position: relative
    display: flex
    flex-direction: column 
    .portrait 
        order: 1
    h1 
        order: 2
    p 
        order: 3
    .details 
        order: 4
main 
    > * 
        @extend .mb-4
#main-content
    display: flex;
    flex-direction: column
    padding-top: 1rem
    footer
        border-top: 1px solid transparent
        margin-top: auto



footer 
    &:not(.is-in-item)
        @extend .dark-bg

+tablet
    $mywidth: 30%
    .container.main-container-bgc
        min-height: 100vh
    #main-header
        height: 200vh
        left: 5vw
        overflow: hidden
        padding: 1rem 1rem calc(100vh + 5rem) 1rem
        position: fixed
        top: 0
        transform: translate3d(0,0,0)
        width: $mywidth
    #main-content
        float: right
        min-height: 100vh
        width: calc((100% - $mywidth) - 2rem)
