<!DOCTYPE html>
<html class="no-js">
    {{ partial "head" . }}
    <body>
    <div class="container main-container-bgc">
        {{ partial "header" . }}
        <div id="main-content">
            <main role="main">
                {{ block "content" . }}{{- end }}
            </main>
            {{ partial "footer" . }}
        </div> 
    </div>
    {{ partial "js-scripts" . }}
    </body>
</html>
