{{ define "content" }}
    {{ if eq .Section "tags" }}
        <div>
            <div class="title-bg block">
                <h1 class="title is-4 is-capitalized is-uppercase">{{ .Section }}</h1>
                {{ $tag := lower .LinkTitle }}
                {{ if ne $tag "tags" }}<h2 class="subtitle is-4">{{ .LinkTitle }}</h2>{{ end }}
            </div> 
            <div class="glassy columns is-multiline is-mobile is-vcentered">
                {{ range .Paginator.Pages}}
                <div class="column is-half-mobile is-one-quarter-tablet">
                    <div class="box">
                        <h2 class="subtitle has-text-centered"><a href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a></h2>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    {{ else }}
        <section>
            <header class="title-bg block">
                <h1 class="title is-4 is-capitalized is-uppercase">{{ .Section }}</h1>
            </header>
            <div class="glassy">
            {{ range .Paginator.Pages}}
            <article class="block">
                <header>
                    <h2 class="subtitle"><a href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a></h2>
                </header>
                <div>
                    {{ .Summary }}
                </div>
                <p><a href="{{ .Params.externalLink | default .RelPermalink }}">En savoir plus</a></p>
                </article>
                {{ end }}
            </div>
        </section>
    {{ end }}
{{ end }}