<form id="contact-form" role="form" class="glassy" name="contact" method="POST" action="/about/thank-you-for-message/" data-netlify="true">
    <div class="columns">
        <div class="field column">
            <label for="last-name" class="label"><span class="has-text-danger">*</span> Nom de famille </label>
            <div class="control has-icons-left">
                <input id="last-name" class="input" type="text" name="last-name" placeholder="mon nom de famille ici" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-male"></i>
                </span>
            </div>
            <p class="help is-danger is-invisible">Champ indispensable (uniquement : a, ..., z / A,..., Z / - ' , . ? ! : _)</p>
        </div>
        
        <div class="field column">
            <label for="first-name" class="label"><span class="has-text-danger">*</span> Prénom</label>
            <div class="control has-icons-left">
                <input id="first-name" class="input" type="text" name="first-name" placeholder="mon prénom ici" required>
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
            <p class="help is-danger is-invisible">Champ indispensable (uniquement : a, ..., z / A,..., Z / - ' , . ? ! : _)</p>
        </div>
    </div>
    <div class="columns">
        <div class="field column">
            <label for="email" class="label"><span class="has-text-danger">*</span> Email</label>
            <div class="control has-icons-left">
                <input id="email" class="input" type="email" name="email" placeholder="contact@domain.com"  required>
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
            <p class="help is-danger is-invisible">Champ indispensable, merci de noter un mail valide</p>
        </div>
        <div class="field column">
            <label for="phone" class="label"><span class="has-text-danger">*</span> Téléphone</label>
            <div class="control has-icons-left">
                <input id="phone" class="input" type="tel" name="phone" required> 
                <span class="icon is-small is-left">
                    <i class="fas fa-mobile"></i>
                </span>
            </div>
            <p class="help is-danger is-invisible">Champ indispensable (0666096109 ou +33666096109), sans espaces</p>
        </div>
    </div>
    
    <div class="field">
        <label for="subject" class="label"><span class="has-text-danger">*</span> Sujet</label>
        <div class="control has-icons-left">
            <input id="subject" class="input" type="text" name="subject" required>
            <span class="icon is-small is-left">
                <i class="fas fa-pencil-alt"></i>
            </span>
        </div>
        <p class="help is-danger is-invisible">Champ indispensable (un certain nombre de caractères ne pourront pas être utilisés ex : >, <, [, ])</p>
    </div>
    
    <div class="field">
        <label for="message" class="label"><span class="has-text-danger">*</span> Message</label>
        <div class="control">
            <textarea id="message" class="textarea" name="message" required></textarea>
        </div>
        <p class="help is-danger is-invisible">Champ indispensable (un certain nombre de caractères ne pourront pas être utilisés ex : >, <, [, ])</p>
    </div>
    
    <div class="field">
        <div class="control">
            <label for="rgpd" class="checkbox">
                <input id="rgpd" type="checkbox" name="rgpd" value="J'accepte que les informations utilisées ici soient nécessaires au traitement de ma demande" required>
                <span class="has-text-danger">*</span> J'accepte que les informations utilisées ici soient nécessaires au traitement de ma demande <a href="{{ .Site.BaseURL }}/admin/rgpd/">RGPD</a>
            </label>
        </div>
    </div>
    
    <div class="field is-grouped">
        <div class="control">
            <button id="submit-button" class="button is-link" type="submit" disabled>Envoyer</button>
        </div>
        <div class="control">
            <button id="reset-button" class="button is-link is-light" type="reset">Annuler</button>
        </div>
    </div>
</form>