<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    {{ if .Site.IsServer }}
    {{ $cssOpts := (dict "targetPath" "css/styles.css" "enableSourceMap" true ) }}
    {{ $styles := resources.Get "bulma/bulma.sass" | toCSS $cssOpts }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
    {{ else }}
    {{ $cssOpts := (dict "targetPath" "css/styles.css" ) }}
    {{ $styles := resources.Get "bulma/bulma.sass" | toCSS $cssOpts | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"
        crossorigin="anonymous" media="screen" />
    {{ end }}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    {{ partial "favicon.html" }}
    {{ if .IsHome }}
        {{ partial "netlify-widget.html" . }}
    {{ end }}
    {{/*partial "site-schema.html" .*/}}
</head>