<header id="main-header" role="banner">
    <h1 class="title has-text-centered-mobile">{{ .Site.Home.Title }}</h1>
    {{ if .Site.Home.Params.description }}
    <p class="has-text-centered-mobile is-italic">{{ .Site.Home.Params.description | safeHTML }}</p>
    {{ end }}
    {{ if .Site.Home.Params.image }}
        {{ partial "images/portrait.html" . }}
    {{ end }}
    {{ if or (.Site.Home.Params.job) (.Site.Home.Params.location) (.Site.Home.Params.email) (.Site.Home.Params.tel) }}
    <ul class="details mt-5">
        {{ if .Site.Home.Params.job }}
        <li><i class="fas fa-briefcase"></i> 
        <span>{{ .Site.Home.Params.job }}</span></li>
        {{ end }}
        {{ if .Site.Home.Params.location }}
            <li><i class="fas fa-home"></i> <span>{{ .Site.Home.Params.location }}</span></li>
        {{ end }}
        {{ if .Site.Home.Params.tel}}
            <li><i class="fas fa-phone"></i> <span>{{ .Site.Home.Params.tel }}</span></li>
        {{ end }}
    </ul>
    {{ end }}
</header>

