<nav id="full-nav" class="nav justify-content-center">
    {{ range .Site.Menus.fullmenu }}
    <a class="nav-link" href="{{ .URL }}">
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
    </a>
    {{ end }}
</nav>
*****