{{ if .IsHome -}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Restaurant",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "{{ .Params.address.addressLocality }}",
        "postalCode": "{{ .Params.address.postalCode }}",
        "streetAddress": "{{ .Params.address.streetAddress }}"
    }
    "name": "{{ .Title }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ if .Description }}{{ .Description | safeJS  }}{{ else }}{{ .Site.Params.description }}{{ end }}",
    "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
    "openingHours": {{ .Params.openingHours }},
    "telephone": "{{ .Params.commercialPhone }}",
    "hasMenu": "{{ .Site.BaseURL }}plats/",
    "servesCuisine": {{ .Params.servesCuisine }},
    "priceRange": "{{ .Params.priceRange }}"
    "acceptsReservations": "{{ .Site.BaseURL }}reservations/",
    "reviewRating": {
        "@type": "Rating",
        "ratingValue": "{{ .Params.starRating }}",
        "author": "{{ .Params.authorRating }}"
    }
}
</script>
{{ else if .IsPage }}
{{ $author :=  or (.Params.author) (.Site.Author.name) }}
{{ $org_name :=  .Site.Title }}
{{ if (eq .Section "news")}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "{{ .Section }}",
    "name": "{{ .Title | safeJS }}",
    "headline": "{{ .Title | safeJS }}",
    "alternativeHeadline": "{{ .Params.lead }}",
    "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}",
    "inLanguage": {{ .Site.LanguageCode | default "fr-fr" }},
    "isFamilyFriendly": "true",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
    },
    "author" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "creator" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "accountablePerson" : {
        "@type": "Person",
        "name": "{{ $author }}"
    },
    "copyrightHolder" : "{{ $org_name }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "publisher":{
        "@type":"Organization",
        "name": {{ $org_name }},
        "url": {{ .Site.BaseURL }},
        "logo": {
            "@type": "ImageObject",
            "url": "{{ .Site.Params.logo | absURL }}",
            "width":"32",
            "height":"32"
        }
    },
    "image": {{ if .Params.images }}[{{ range $i, $e := .Params.images }}{{ if $i }}, {{ end }}{{ $e | absURL }}{{ end }}]{{ else}}{{.Site.Params.logo | absURL }}{{ end }},
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "genre" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
    "keywords" : [ {{ range $index, $keyword := .Params.keywords }}{{ if $index }}, {{ end }}"{{ $keyword }}" {{ end }}]
}
</script>
{{ else if (eq .Section "plats") }}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Recipe",
      "name": "{{ .Title }}",
      "image": {
        "@type": "ImageObject",
        "url": "{{ if .Params.image }}{{ .Params.image | absURL }}{{ else }}{{ .Site.Params.logo | absURL }}{{ end }}",
      },
      "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.Author.name }}"
      },
      "datePublished": "{{ .Date }}",
      "description": "{{ .Params.description }}",
      "recipeCategory": "{{ .Params.type }}",
      {{ if .Params.cookingMethod }}"cookingMethod": "{{ .Params.cookingMethod }}",{{ end }}{{ if .Params.ingredients }}"ingredients": {{ .Params.ingredients }}{{ end }}
    }
    </script>
{{ end }}
{{ end }}